<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>who are you</title>
    <link rel="stylesheet" href="../static/np_style.css">
</head>
<body>
<div style="justify-content: center; padding: 10em";>
<div style="border-width:3px; border-style:solid; border-color: blue; padding: 1em; padding-bottom: 15em;">
<p style="color: blue">FAQ</p>
<!-- <p> Q: Where are you going? </p>
<p> A: Yes. </p>
<p> A: No. </p>
<br>
-->

<p>Special Code</p>
<form action="#" method="get">
    <p>A:
    <input type="text" name="name" /></p>
    <p><input type="submit" value="enter" /></p>
</form>

<br>
<p>Q: What do you want from me? <br> A: Noblesse Oblige <br><a href ="/working">A: Laissez Faire</a></p>
</div>
</div>
</body>
</html>

