<!DOCTYPE html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:left="http://www.w3.org/1999/xhtml"
      xmlns:top="http://www.w3.org/1999/xhtml" xmlns:position="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>...</title>
    <link rel="stylesheet" href="../static/np_style.css">
</head>
<body>

<p style="color: blue; text-decoration: underline">Library of Alexandria</p>

<h2 style="font-size: 45px; font-family: Crimson Text; font-weight: 450; padding-bottom: 0px">Something went wrong...</h2>

<div style="position: relative">
<div style="left: 7px; top: 0px; position: absolute; color: black; font-size: 10px; font-family: Crimson Text; font-weight: 500; line-height: 32px; word-wrap: break-word; font-size: 20px">you have failed
      the attempt to access. Wait for 10 mins to try again.</div>
  <div style="left: 7px; top: 13px; position: absolute; color: black; font-size: 10px; font-family: Crimson Text; font-weight: 500; line-height: 7px; word-wrap: break-word; font-size: 20px">The page you
      are looking for is currently unavailable. The Web site might be experiencing technical <br/>difficulties, or you may need to adjust your browser settings.</div>
  </div>

<div style="left: 24px; top: 252px; position: absolute; color: black; font-size: 20px; font-family: Crimson Text; font-weight: 500; line-height: 32px; word-wrap: break-word">Working in 3,2,1...</div>

    <div style="left: 24px; width: 117em; height: 0px; top: 285px; position: absolute; border: 1px black solid"></div>
  <div style="left: 1210px; top: 764px; position: absolute; color: #0047FF; font-family: Crimson Text; font-weight: 500; text-decoration: underline;
  line-height: 32px; word-wrap: break-word"><a href ="/archive">Link</a></div>

<br><br>
<!-- <p>Working in 3, 2, 1...</p> -->
<!-- <hr> -->
<br><br><br><br><br><br><br><br>
<p style="color: blue"> <a href="archive.html">   </a> </p>

</body>
</html>