{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>x</title>
    <link rel="stylesheet" href="../static/np_style.css">
 <style>
   img {
        height: 400px;
        background-size: cover;
}
   body {
       font-family: 'Crimson Text';
       color: black;
       padding: 10px;
   }
 </style>
</head>
<body>
<div style="font-size: 50px; font-weight: 500; word-wrap: break-word">Noplace - (1file / Created {{ product.created_date }})</div>
<!-- <div style="font-size: 20px; font-weight: 500; word-wrap: break-word; padding-top: 10px; padding-bottom: 20px" >uploaded by: <span style="color: blue; text-decoration: underline">xxx</span></div> -->

</div>

<br><br>

<div style="position: absolute; border: 5px #787878 dotted; width: 95%; height: 75%">
<div style="height:140px;background:#EAEAEA">
    <div id="caption">
        {{ product.title }}
    </div>
    <div id="caption2">
        Last updated: {{ product.updated_date }}
    </div>
</div>
<div style="height: 800px">
    <div id="product">
        <img src="{{ product.image.url }}">
    </div>
</div>
    </div>


</body>
</html>